.book-item-page-container {
  width: 100vw;
  min-height: 90vh;
  height: 100%;
  background: #f5f7fa;
}

@media screen and (min-width: 1200px) {
  .book-item-page-container {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 64px;
  }
}

.book-failure-view-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-failure-img {
  width: 243px;
  margin-top: 16px;
}

.home-failure-view-text {
  color: #475569;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.home-failure-view-button {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background: #0284c7;
  border: none;
  color: #fff;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .home-failure-img {
    width: 347px;
  }

  .home-failure-view-text {
    font-size: 16px;
  }
}

.book-item-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .book-item-container {
    width: 1140px;
    height: 726px;
    padding: 64px;
    display: flex;
    background: #fff;
    border-radius: 16px;
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 1200px) {
  .book-item-top-section-container {
    display: flex;
    align-items: center;
  }
}

.book-item-img {
  width: 235px;
  height: 274px;
  border-radius: 8px;
}

@media screen and (min-width: 1200px) {
  .book-item-img {
    margin-right: 48px;
  }
}

.book-item-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .book-item-text-container {
    align-items: flex-start;
  }
}

.book-item-title {
  color: #334155;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 0px;
}

.book-item-author {
  color: #475569;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 0px;
}

.book-item-rating-section-container {
  display: flex;
  align-items: center;
  height: 16px;
  margin-top: 8px;
}

.book-item-rating-label {
  color: #475569;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-right: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.book-item-rating {
  color: #334155;
  font-family: 'HK Grotesk';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin-top: 0px;
  margin-bottom: 0px;
}

.book-item-status-label {
  margin-top: 8px;
  color: #475569;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
.book-item-status-text {
  color: #0284c7;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (min-width: 1200px) {
  .book-item-title {
    font-size: 32px;
    margin-top: 0;
  }

  .book-item-author {
    font-size: 24px;
    margin-top: 16px;
  }

  .book-item-rating-section-container {
    margin-top: 16px;
  }

  .book-item-rating-label {
    font-size: 24px;
    margin-right: 16px;
  }

  .book-item-rating {
    font-size: 24px;
    margin-left: 4px;
  }

  .book-item-status-label {
    margin-top: 16px;
    font-size: 24px;
  }
  .book-item-status-text {
    font-size: 24px;
  }
}

.horizontal-line {
  width: 312px;
  height: 0.5px;
  background: #94a3b8;
  border: none;
}

@media screen and (min-width: 1200px) {
  .horizontal-line {
    margin-top: 32px;
    width: 1012px;
    height: 1px;
  }
}

.about-author-label {
  color: #334155;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 24px;
  margin-bottom: 0px;
}

.about-author-text {
  color: #475569;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 0px;
  align-self: flex-start;
}

.about-book-label {
  color: #334155;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  align-self: flex-start;
  margin-top: 16px;
  margin-bottom: 0px;
}

.about-book-text {
  color: #475569;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .about-author-label {
    font-size: 24px;
    margin-top: 32px;
  }

  .about-author-text {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 0px;
    line-height: 28px;
  }

  .about-book-label {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  .about-book-text {
    font-size: 16px;
    margin-top: 8px;
    line-height: 28px;
  }
}
