.login-page-container {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .login-page-container {
    background: #ffffff;
    display: flex;
    flex-direction: row;
  }
}

.login-page-img {
  display: none;
  width: 786px;
}

@media screen and (min-width: 1200px) {
  .login-page-img {
    display: initial;
    width: 786px;
  }
}

.login-page-mb-img {
  margin-bottom: 16px;
  margin-top: 32px;
}

@media screen and (min-width: 1200px) {
  .login-page-mb-img {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .login-right-container {
    width: 100%;
    height: 100%;
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.login-api-container {
  width: 360px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .login-api-container {
    width: 499px;
    height: 486px;
    justify-content: center;
    margin: 10px;
    padding-left: 24px;
  }
}

.login-page-website-logo {
  margin-bottom: 16px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.label {
  color: #5a7184;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 12px;
}

.login-input {
  width: 312px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #c3cad9;
  background: #fff;
  padding-left: 20px;
  font-size: 16px;
}

.error-msg {
  color: var(--Light-red-500, #ef4444);
  font-family: 'HK Grotesk';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-button {
  width: 312px;
  height: 40px;
  border-radius: 8px;
  background: #0284c7;
  border: none;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
}
